$coral: #F98C8A;
$rose: #D22E32;
$manilla: #F3E2B7;
$fountain-blue: #50BDAC;
$simpson: #F9E14D;
$irish-cloud: #E4F8F3;
$cream: #F5EDE6;
$pale-sky: #5CCAF6;
$business-blue: #0B64C4;
$deep-sky: #2996ED;
