.footer {
  height: 62px;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666;
  color: #B7B7B7;
  justify-content: space-between;
  align-items: flex-end;
}

.credits {
  padding-right: 50px;
  padding-bottom: 4px;
}

.footer i {
  margin: 0 10px;
  justify-content: space-between;
  z-index: 100;
  transform: scale(0.8);
  color: #B7B7B7;
}

.byline {
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 5px;
  padding: 0 8px;
}

.logo {
  font-family: 'Niconne', cursive;
  font-size: 48px;;
  color: #492225;
  padding-left: 20px;
}
