html, body, canvas {
  padding: 0px;
  margin: 0px;
  transition: all 2s;
}

section, div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#content {
  width: 100vw;
  height: 100vh;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
